.Mageplaza-DesktopPosition {
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
  border: .3rem solid #d3d3d3;
  position: relative;
  display: inline-block;
  cursor: pointer;

  .Mageplaza-DesktopPosition__Option {
    width: 9.5rem;
    height: 4.5rem;
    background-color: #d3d3d3;
    margin: .5rem;
    position: absolute;
  }

  .Mageplaza-DesktopPosition__Option._selected {
    background-color: #01007F;
  }

  .Mageplaza-DesktopPosition__Option._topLeft {
    top: 0;
    left: 0;
  }

  .Mageplaza-DesktopPosition__Option._topRight {
    position: absolute;
    top: 0;
    right: 0;
  }

  .Mageplaza-DesktopPosition__Option._bottomLeft {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Mageplaza-DesktopPosition__Option._bottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.Mageplaza-DesktopPosition._selected {
  border: .3rem solid #01007F;
}
